In [89]:
# Reading of intial data set

import pandas as pd
import numpy as np
df_dss=pd.read_csv("DSScoreTerm1.csv")
df_mth=pd.read_csv("MathScoreTerm1.csv")
df_phy=pd.read_csv("PhysicsScoreTerm1.csv")

In [90]:
# check for null values
df_phy.isnull().any()

Name          False
Score          True
Age           False
Ethinicity    False
Subject       False
Sex           False
ID            False
dtype: bool

In [84]:

print (df_dss.mean(),df_mth.mean(),df_phy.mean())

Score     68.36227
Age       19.12187
ID       300.00000
dtype: float64 Score     74.347245
Age       19.121870
ID       300.000000
dtype: float64 Score     70.602671
Age       19.121870
ID       300.000000
dtype: float64

In [91]:
# Replacing null value columns with mean of the same.

df_dss['Score']=df_dss['Score'].fillna(68)
df_mth['Score']=df_mth['Score'].fillna(74)
df_phy['Score']=df_phy['Score'].fillna(71)

In [92]:
# Recheck after replacement
df_phy.isnull().any()

Name          False
Score         False
Age           False
Ethinicity    False
Subject       False
Sex           False
ID            False
dtype: bool

In [20]:
df_dss.columns

Index(['Name', 'Score', 'Age', 'Ethinicity', 'Subject', 'Sex', 'ID'], dtype='object')

In [66]:
df_phy['Ethinicity'].value_counts()

White American       288
European American    156
Hispanic             124
African American      31
Name: Ethinicity, dtype: int64

In [22]:
df_mth.head()

             Name  Score  Age         Ethinicity Subject Sex  ID
0  AI-KYUNG CHUNG   88.0   18     White American   Maths   M   1
1     ALAN HARVEY   85.0   19  European American   Maths   M   2
2    ALAN REYNAUD   45.0   19  European American   Maths   M   3
3  ALBERT CENDANA   82.0   18     White American   Maths   M   4
4  ALBERT HOLT JR   82.0   18     White American   Maths   F   5

In [95]:
# Merging & rebaling variables 'Sex' & 'Ethinicity' with numerical values

df_final=pd.concat([df_dss,df_mth,df_phy],ignore_index=True) # Merging
df_final['Sex']=pd.get_dummies(df_final['Sex']) # Recoding sex 0 and 1
df_final['Ethinicity']=df_final['Ethinicity'].astype('category') # changing 'Ethinicity' datatype from obj to cat
df_final['Ethinicity']=df_final['Ethinicity'].cat.codes # recode 'Ethinicity'
df_final=df_final.drop(['Name'],axis=1) # removing name to hide identity
df_final.to_csv("ScoreFinal.csv")

In [96]:
df_final.tail(15)

      Score  Age  Ethinicity  Subject  Sex   ID
1782   87.0   18           1  Physics    1  585
1783   49.0   20           3  Physics    0  586
1784   81.0   19           3  Physics    0  587
1785   41.0   18           2  Physics    0  588
1786   84.0   19           1  Physics    0  589
1787   78.0   20           2  Physics    1  590
1788   61.0   19           3  Physics    0  591
1789   84.0   19           2  Physics    0  592
1790   87.0   20           2  Physics    0  593
1791   84.0   19           1  Physics    0  594
1792   41.0   19           3  Physics    1  595
1793   71.0   18           3  Physics    0  596
1794   49.0   20           3  Physics    0  597
1795   71.0   20           2  Physics    0  598
1796   69.0   19           2  Physics    0  599